<div class="w-full bg-white p-5 rounded-lg">
    <div class="flex gap-5">
        <img [src]="anuncio?.url_foto" class="h-[150px] w-[150px] object-cover"
            [alt]=" `${'FEATURES.LISTINGS.COMPONENTS.ANUNCIO-USER.IMG-ALT'|transloco} ${anuncio?.titulo}`" />

        <div>
            <a href="#" class="text-lg font-medium hover:underline text-blue-600">
                {{ anuncio?.titulo }}
            </a>
            <div>
                <span class="text-amber-500 text-sm">
                    @if (anuncio?.ativo) {
                    {{ "FEATURES.LISTINGS.COMPONENTS.ANUNCIO-USER.ACTIVE"|transloco }}
                    } @else {
                    {{ "FEATURES.LISTINGS.COMPONENTS.ANUNCIO-USER.INACTIVE"|transloco }}
                    }
                </span>
            </div>
            <p class="text-xs text-gray-400 mt-3">
                {{ 'FEATURES.LISTINGS.COMPONENTS.ANUNCIO-USER.INFORMATION'|transloco }}
            </p>
            <div class="mt-2">
                <p class="flex items-center gap-1">
                    <i class="pi pi-eye"></i>{{ 'FEATURES.LISTINGS.COMPONENTS.ANUNCIO-USER.VIEWS'|transloco }} {{
                    anuncio?.views
                    }} {{ 'FEATURES.LISTINGS.COMPONENTS.ANUNCIO-USER.TIMES'|transloco }}
                </p>
                <p>
                    <i class="pi pi-clock">
                        {{ 'FEATURES.LISTINGS.COMPONENTS.ANUNCIO-USER.ACTIVE-AT'| transloco }}
                        {{ formatedDate |date: 'longDate': '': 'pt' }}
                    </i>
                </p>
            </div>
        </div>
    </div>
    <hr class="my-4 text-gray-200" />
    <div>
        <div class="card flex gap-2">
            <p-button [label]="'FEATURES.LISTINGS.COMPONENTS.ANUNCIO-USER.EDIT-BUTTON'|transloco"
                icon="pi pi-pen-to-square" severity="secondary" />
            <p-button [label]="'FEATURES.LISTINGS.COMPONENTS.ANUNCIO-USER.DELETE-BUTTON'|transloco"
                (click)="onDelete()" icon="pi pi-trash" severity="danger" />
        </div>
    </div>
</div>