<div class="bg-white flex flex-col items-center py-2.5 relative h-80">
  <span class="bg-blue-600 text-white px-2.5 py-1 absolute left-0"> TOP </span>
  <div class="img w-[160px] h-[160px] overflow-hidden">
    <img [src]="anuncio?.url_foto" class="w-full h-full object-cover" />
  </div>
  <div class="texts flex flex-col items-center">
    <a href="#" class="text-blue-500 font-medium hover:underline">
      {{ anuncio?.titulo }}
    </a>
    <p>
      {{ anuncio?.descricao }}
    </p>
    <span class="text-green-500"> R$ {{ anuncio?.preco }} </span>
  </div>
</div>
