.back-to-top {
    font-size: 24px;
    color: #fff;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    line-height: 35px;
    border-radius: 5px;
    background-color: #315659;
    text-align: center;
    z-index: 99;
    transition: all 0.3s ease-out 0s;
    cursor: pointer;

    i {
        color: white;
    }
}

.scroll-hide {
    transition: visible 0.3s ease-in-out;
}

.hidden {
    visibility: hidden;
}