<main class="bg-gray-100 pb-10">
  <app-search-bar></app-search-bar>
  <p-toast></p-toast>
  <div class="lg:flex lg:justify-center lg:w-5xl lg:mx-auto">
    <div class="main-bar bg-white lg:w-2/3 rounded-md shadow">
      <div class="header p-5 border-0 border-b border-solid border-gray-300">
        <h5>
          <strong>
            {{ "FEATURES.SUPPORT.MAIN-BAR.TITLE" | transloco }}
          </strong>
        </h5>
      </div>
      <p class="p-5">
        {{ "FEATURES.SUPPORT.MAIN-BAR.TEXT" | transloco }}
      </p>
      <div
        class="form ml-5 flex flex-col gap-5 border-0 border-b border-solid border-gray-300"
      >
        <div class="input-group flex flex-col lg:flex-row gap-2">
          <label class="lg:w-1/4 text-right">
            <strong>
              {{ "FEATURES.SUPPORT.MAIN-BAR.SELECT.PLACEHOLDER" | transloco }}
            </strong>
          </label>
          <p-select
            [options]="options"
            [(ngModel)]="optionSelected"
            optionLabel="text"
          >
            <ng-template #selectedItem let-selectedOption>
              <div class="flex items-center gap-2">
                <div>{{ selectedOption.text | transloco }}</div>
              </div>
            </ng-template>
            <ng-template let-option #item>
              <div class="flex items-center gap-2">
                <div>{{ option.text | transloco }}</div>
              </div>
            </ng-template>
          </p-select>
        </div>
        <div class="input-group flex flex-col lg:flex-row gap-2">
          <label class="lg:w-1/4 text-right">
            <strong>
              {{ "FEATURES.SUPPORT.MAIN-BAR.EMAIL-INPUT.LABEL" | transloco }}
            </strong>
          </label>
          <input
            pInputText
            type="email"
            [(ngModel)]="email"
            email="true"
            [placeholder]="
              'FEATURES.SUPPORT.MAIN-BAR.EMAIL-INPUT.PLACEHOLDER' | transloco
            "
          />
        </div>
        <div class="input-group flex flex-col lg:flex-row gap-2">
          <label class="lg:w-1/4 text-right">
            <strong>
              {{ "FEATURES.SUPPORT.MAIN-BAR.TEXTAREA.LABEL" | transloco }}
            </strong>
          </label>
          <textarea
            rows="5"
            cols="30"
            pTextarea
            [(ngModel)]="text"
            [placeholder]="
              'FEATURES.SUPPORT.MAIN-BAR.TEXTAREA.PLACEHOLDER' | transloco
            "
          ></textarea>
        </div>
        <div class="input-group flex justify-center mb-5">
          <p-button
            severity="success"
            [label]="
              'FEATURES.SUPPORT.MAIN-BAR.SUBMIT-BUTTON.LABEL' | transloco
            "
            (onClick)="sendSupportMessage()"
          ></p-button>
        </div>
      </div>
      <div class="bottom">
        <div class="header p-5">
          <h5>
            <strong>
              {{ "FEATURES.SUPPORT.MAIN-BAR.BOTTOM.HEADER" | transloco }}
            </strong>
          </h5>
          <p class="text">
            {{ "FEATURES.SUPPORT.MAIN-BAR.BOTTOM.TEXT" | transloco }}
          </p>
        </div>
        <div class="body">
          @for (question of questions; track $index) {
          <p-accordion [value]="['0']" [multiple]="true">
            <app-question-answer
              [text]="question.text"
              [title]="question.title"
            ></app-question-answer>
          </p-accordion>
          }
        </div>
      </div>
    </div>
    <div
      class="right-bar bg-gray-50 lg:w-1/3 border-0 border-l border-solid border-gray-300 rounded-md shadow"
    >
      <div class="header pl-5 pt-5">
        <h5>
          <strong>
            {{ "FEATURES.SUPPORT.RIGHT-BAR.HEADER.TITLE" | transloco }}
          </strong>
        </h5>
      </div>
      <p class="p-5">
        {{ "FEATURES.SUPPORT.RIGHT-BAR.HEADER.TITLE-SUB" | transloco }}
      </p>
      <div class="contact-items flex flex-col gap-3 p-5">
        @for (contactItem of contactItems; track $index) {
        <app-contact-item
          [text]="contactItem.text"
          [urlAlt]="contactItem.urlAlt"
          [urlSkip]="contactItem.urlSkip"
          [urlImage]="contactItem.urlImage"
        ></app-contact-item>
        }
      </div>
    </div>
  </div>
</main>
