<div>
  <section class="choose-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 choose-body">
          <div class="choose-content">
            <div class="choose-title display-2">Vantagens de Optar por Nós</div>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam.
          </p>
          <ul class="list-unstyled">
            <li>
              <i
                class="fa fa-check-square fa-2x text-primary"
                aria-hidden="true"
              ></i>
              Recurso poderoso.
            </li>
            <li>
              <i
                class="fa fa-check-square fa-2x text-danger"
                aria-hidden="true"
              ></i>
              Muito necessário e importante
            </li>
            <li>
              <i
                class="fa fa-check-square fa-2x text-info"
                aria-hidden="true"
              ></i>
              Características essenciais para detonar.
            </li>
          </ul>
          <button type="button" class="btn btn-success">leia mais</button>
        </div>
      </div>
    </div>
    <div class="choose-image">
      <div class="image">
        <img src="/assets/img/home/choose.png" alt="choose" />
      </div>
    </div>
  </section>
</div>
