.choose-area {
    background-color: #fff;
    position: relative;
    padding-top: 80px;
    padding-bottom: 130px;

    .choose-body > * {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .choose-image {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        display: table;
    }
}

.counter-area {
    padding-top: 400px;
    background-image: url('/assets/img/home/counter-bg.jpg');

    .counter-wrapper {
        background-color: #2978A0;
        padding: 25px;
        padding-top: 0;
        border-radius: 5px;

        .single-counter {
            padding-top: 25px;

            p {
                font-size: 24px;
                color: #fff;
                margin-top: 10px;
            }

            .count {
                font-size: 50px;
                font-weight: 700;
                color: #fff;
                line-height: 50px;
            }

            .counter-icon {
                padding-right: 10px;
            }
        }
    }
}