a:hover {
    text-decoration: underline;
}

.gray-bg {
    background-color: #f4f5f7;
}

.choose-area {
    background-color: #fff;
    position: relative;
    padding-top: 80px;
    padding-bottom: 130px;

    .choose-body > * {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .choose-image {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        display: table;
    }
}

.counter-area {
    padding-top: 400px;
    background-image: url('/assets/img/home/counter-bg.jpg');

    .counter-wrapper {
        background-color: #2978A0;
        padding: 25px;
        padding-top: 0;
        border-radius: 5px;

        .single-counter {
            padding-top: 25px;

            p {
                font-size: 24px;
                color: #fff;
                margin-top: 10px;
            }

            .count {
                font-size: 50px;
                font-weight: 700;
                color: #fff;
                line-height: 50px;
            }

            .counter-icon {
                padding-right: 10px;
            }
        }
    }
}

.services-area {
    .single-services {
        transition: all 0.3s ease-out 0s;
        background-color: #fff;
        padding: 30px 25px;
        border-radius: 10px;

        .services-icons i {
            color: #315659;
            transition: all 0.3s ease-out 0s;
            font-size: 46px;
        }

        .services-content {
            padding-left: 20px;

            .title a {
                font-size: 24px;
                font-weight: 500;
                color: #3C4559;
                transition: all 0.3s ease-out 0s;
            }

            p {
                transition: all 0.3s ease-out 0s;
            }

            .more {
                font-size: 16px;
                font-weight: 500;
                color: #3C4559;
                transition: all 0.3s ease-out 0s;
                margin-top: 10px;
            }
        }
    }

    .single-services:hover {
        background-color: #315659;

        .services-icon i,
        .services-content .title a,
        .services-content p,
        .services-content .more {
            color: #fff;
        }
    }
}