<footer>
  <div
    class="flex flex-col gap-8 lg:flex-row mx-10 border border-y-gray-300 border-x-0 p-5 lg:justify-center mb-5"
  >
    <div>
      <h5>{{ "CORE.LAYOUT.FOOTER.INFORMATION.TITLE" | transloco }}</h5>
      <ul>
        <li>
          <a href="#">{{
            "CORE.LAYOUT.FOOTER.INFORMATION.LINKS.ONE" | transloco
          }}</a>
        </li>
        <li>
          <a href="#">{{
            "CORE.LAYOUT.FOOTER.INFORMATION.LINKS.TWO" | transloco
          }}</a>
        </li>
        <li>
          <a href="#">{{
            "CORE.LAYOUT.FOOTER.INFORMATION.LINKS.THREE" | transloco
          }}</a>
        </li>
        <li>
          <a href="#">{{
            "CORE.LAYOUT.FOOTER.INFORMATION.LINKS.FOUR" | transloco
          }}</a>
        </li>
      </ul>
    </div>
    <div>
      <h5>{{ "CORE.LAYOUT.FOOTER.SUPPORT.TITLE" | transloco }}</h5>
      <ul>
        <li>
          <a href="#">{{
            "CORE.LAYOUT.FOOTER.SUPPORT.LINKS.ONE" | transloco
          }}</a>
        </li>
        <li>
          <a href="#">{{
            "CORE.LAYOUT.FOOTER.SUPPORT.LINKS.TWO" | transloco
          }}</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
