<main class="bg-gray-100">
    <app-search-bar></app-search-bar>
    <div class="mx-auto lg:max-w-5xl">
        <div class="w-full bg-white p-5 rounded-lg">
            <div class="p-1 font-semibold pb-7 border-b border-gray-200">
                <h3>{{ 'FEATURES.LISTINGS.PAGES.CREATE-AD.TITLE'|transloco }}</h3>
            </div>
            <div class="flex w-full flex-col lg:flex-row ">
                <div class="left-content w-full mt-5">
                    <p class="pb-5 mb-5 border-b border-gray-100">{{
                        'FEATURES.LISTINGS.PAGES.CREATE-AD.FIRST-SUBTITLE'|transloco }}</p>
                    <div class="flex flex-col">
                        <div class="flex flex-col md:flex-row">
                            <span class="text-sm font-semibold pb-2 block w-52">{{
                                'FEATURES.LISTINGS.PAGES.CREATE-AD.CATEGORY-LABEL'|transloco }}</span>
                            <p-treeselect [class]="`text-sm ${!selectedNodes.data ? 'ng-invalid ng-dirty' : ''}`"
                                [(ngModel)]="selectedNodes" [options]="items" />
                        </div>
                    </div>
                    <div class="flex flex-col mt-5">
                        <div class="flex flex-col md:flex-row">
                            <span class="text-sm font-semibold pb-2 block w-52">{{
                                'FEATURES.LISTINGS.PAGES.CREATE-AD.EXIBITION-TYPE-LABEL'|transloco }}</span>
                            <div class="flex gap-7">
                                <div class="flex gap-2">
                                    <p-radioButton name="exibition-type" value="sell" [(ngModel)]="exibitionType"
                                        inputId="exibition-type1"></p-radioButton>
                                    <label for="exibition-type1">{{
                                        'FEATURES.LISTINGS.PAGES.CREATE-AD.EXIBITION-SELL'|transloco }}</label>
                                </div>
                                <div class="flex gap-2">
                                    <p-radioButton name="exibition-type" value="search" [(ngModel)]="exibitionType"
                                        inputId="exibition-type2"></p-radioButton>
                                    <label for="exibition-type2">{{
                                        'FEATURES.LISTINGS.PAGES.CREATE-AD.EXIBITION-SEARCH'|transloco }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="pb-5 mb-5 mt-10 border-b border-gray-100">
                        {{ 'FEATURES.LISTINGS.PAGES.CREATE-AD.SECOND-SUBTITLE'|transloco }}</p>
                    <div class="flex flex-col mt-5">
                        <div class="flex flex-col md:flex-row">
                            <span class="text-sm font-semibold pb-2 flex items-center w-52">
                                {{ 'FEATURES.LISTINGS.PAGES.CREATE-AD.AD-TITLE-LABEL'|transloco }}
                            </span>
                            <div class="p-5 w-full">
                                <input pInputText class="w-full" [(ngModel)]="formTitle" />
                            </div>
                        </div>
                        <div class="flex flex-col md:flex-row">
                            <span class="text-sm font-semibold pb-2 flex items-center w-52">
                                {{ 'FEATURES.LISTINGS.PAGES.CREATE-AD.AD-DESCRIPTION-LABEL'|transloco }}
                            </span>
                            <div class="p-5 w-full">
                                <textarea name="description" rows="5" class="w-full" required pTextarea
                                    [(ngModel)]="formDescription"></textarea>
                            </div>
                        </div>
                        <div class="flex flex-col md:flex-row">
                            <span class="text-sm font-semibold pb-2 block w-52">{{
                                'FEATURES.LISTINGS.PAGES.CREATE-AD.OFFER-TYPE.LABEL'|transloco }}</span>
                            <p-select [options]="typeOffer" [(ngModel)]="typeOfferSelected" optionLabel="typeoffer">
                                <ng-template #selectedItem let-selectedOption>
                                    @if (selectedOption) {
                                    <div class="flex items-center gap-2">
                                        <div>{{ selectedOption.name | transloco }}</div>
                                    </div>
                                    }
                                </ng-template>
                                <ng-template let-option #item>
                                    <div class="flex items-center gap-2">
                                        <div>{{ option.name | transloco }}</div>
                                    </div>
                                </ng-template>
                            </p-select>
                        </div>
                    </div>
                </div>
                <div class="right-content w-80 bg-gray-100">

                </div>
            </div>
        </div>
    </div>
</main>