<main class="bg-gray-100">
  <app-search-bar></app-search-bar>
  @if (isMobile && catSubcatList) {
  <app-right-drawer [filtrarPreco]="filtrarPreco"></app-right-drawer>
  <app-category-carousel [categories]="catSubcatList" />
  } @else {
  <div class="mx-auto lg:max-w-5xl lg:flex lg:gap-5">
    <div class="left-bar w-2xs text-blue-500">
      <div class="bg-white rounded-lg p-5 lg:mx-auto lg:max-w-5xl lg:gap-5">
        <a class="font-semibold hover:underline">{{
          "FEATURES.SEARCHS.PAGES.SEARCH.LEFT-BAR.LINK" | transloco
        }}</a>
        <div
          class="left-bar-body border border-x-0 border-b-0 border-gray-300 mt-1.5"
        >
          @for (item of catSubcatList; track $index) {
          <div class="p-1">
            <a href="#" class="font-normal text-[15px] hover:underline">{{
              item.nome | transloco
            }}</a>
          </div>
          }
        </div>
      </div>

      <div class="left-bar-filter bg-white mt-6 rounded-lg">
        <div
          class="title-filter p-3.5 bg-gray-50 text-black font-medium border-0 border-b border-gray-300"
        >
          Preço
        </div>
        <div class="body-filter">
          <div
            class="inputs-filter p-2.5 flex flex-col gap-2.5 text-gray-500 font-light"
          >
            <p-inputNumber
              [(ngModel)]="filterPriceMinimum"
              inputId="minfraction"
              mode="decimal"
              [minFractionDigits]="2"
              [placeholder]="
                'FEATURES.SEARCHS.PAGES.FILTERS.PLACEHOLDERS.MIN' | transloco
              "
            />
            <p-inputNumber
              [(ngModel)]="filterPriceMaximum"
              inputId="maxfraction"
              mode="decimal"
              [minFractionDigits]="2"
              [placeholder]="
                'FEATURES.SEARCHS.PAGES.FILTERS.PLACEHOLDERS.MAX' | transloco
              "
            />
          </div>
          <div class="flex justify-center">
            <p-button
              [label]="
                'FEATURES.SEARCHS.PAGES.FILTERS.BUTTON.LABEL' | transloco
              "
              (onClick)="filtrarPreco(filterPriceMinimum, filterPriceMaximum)"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="main-bar w-full">
      <div class="header-bar">
        <div class="flex justify-between">
          <strong>{{
            "FEATURES.SEARCHS.PAGES.SEARCH.MAIN-BAR.HEADER-BAR.TITLE"
              | transloco
          }}</strong>
          <div class="header-buttons flex gap-1">
            <p-button
              icon="pi pi-align-justify"
              variant="text"
              (onClick)="changeViewQueue(false)"
            />
            <p-button
              icon="fa-solid fa-grip"
              variant="text"
              (onClick)="changeViewQueue(true)"
            />
            <p-button
              [label]="
                'FEATURES.SEARCHS.PAGES.SEARCH.MAIN-BAR.HEADER-BAR.CREATE-AD'
                  | transloco
              "
            />
            <p-select [options]="options">
              <ng-template #selectedItem let-selectedOption>
                @if (selectedOption) {
                <div class="flex items-center gap-2">
                  <div>{{ selectedOption.name | transloco }}</div>
                </div>
                }
              </ng-template>
              <ng-template let-option #item>
                <div class="flex items-center gap-2">
                  <div>{{ option.name | transloco }}</div>
                </div>
              </ng-template>
            </p-select>
          </div>
        </div>
      </div>
      @if (viewQueue) {
      <div class="mt-5 grid grid-cols-3">
        @for (anuncio of searchedAnuncios; track $index) {
        <app-queue-offers [anuncio]="anuncio"></app-queue-offers>
        }
      </div>
      } @else {
      <div class="body mt-5 flex flex-col gap-5">
        @for (item of searchedAnuncios; track $index) {
        <app-stack-offers [oferta]="item"></app-stack-offers>
        }
      </div>

      }
    </div>
  </div>
  }
</main>
