<main class="bg-gray-100">
  <section class="header-layout hidden lg:block lg:max-w-5xl lg:mx-auto">
    <div class="py-8 flex flex-col gap-5 lg:flex-row justify-between">
      <div class="flex flex-col lg:flex-row lg:mx-0">
        <input
          type="text"
          pInputText
          [(ngModel)]="searchValue"
          [placeholder]="
            'FEATURES.HOME.PAGES.HOME.SEARCH-INPUT.PLACEHOLDER' | transloco
          "
        />
        <p-select [options]="catList" placeholder="Todas as categorias">
          <ng-template #selectedItem let-selectedOption>
            @if (selectedOption) {
            <div class="flex items-center gap-2">
              <div>{{ selectedOption.nome | transloco }}</div>
            </div>
            }
          </ng-template>
          <ng-template let-category #item>
            <div class="flex items-center gap-2">
              <div>{{ category.nome | transloco }}</div>
            </div>
          </ng-template>
        </p-select>
      </div>
      <div class="flex justify-center">
        <input
          type="text"
          pInputText
          [(ngModel)]="searchAddress"
          [placeholder]="
            'FEATURES.HOME.PAGES.HOME.SEARCH-ADDRESS.PLACEHOLDER' | transloco
          "
        />
        <p-select
          [options]="distances"
          optionLabel="name"
          placeholder="raio"
        ></p-select>
      </div>
      <div class="flex justify-center">
        <p-button
          label="{{
            'FEATURES.HOME.PAGES.HOME.SEARCH-BUTTON.LABEL' | transloco
          }}"
          icon="pi pi-search"
          [disabled]="!searchValue && !searchAddress"
        ></p-button>
      </div>
    </div>
  </section>
  <section class="main-layout lg:mx-auto lg:max-w-5xl lg:flex lg:gap-5">
    @if (isMobile && catSubcatList) {
      <app-category-carousel [categories]="catSubcatList" />
    } @else {
      <div class="left-bar w-2xs bg-white pt-1.5 px-5 pb-2.5 rounded-lg">
        <div class="left-bar-header flex justify-between py-2">
          <h4 class="font-bold text-[15px]">
            {{ "FEATURES.HOME.PAGES.HOME.LEFT-BAR.TITLE" | transloco }}
          </h4>
          <a href="#" class="text-[14px]">{{
            "FEATURES.HOME.PAGES.HOME.LEFT-BAR.LINK" | transloco
          }}</a>
        </div>
        <div class="left-bar-body">
          @for (item of catSubcatList; track $index) {
          <div class="border border-x-0 border-b-0 text-blue-500 border-gray-300 p-2">
            <a href="#" class="font-semibold text-[15px]">{{ item.nome | transloco }}</a>
            <p class="pl-2">
              @for (subcategoria of item.subcategorias; track $index) {
                <div class="flex">
                  <a href="#" class="text-[14px]">{{ subcategoria.name | transloco }}</a>
  
                </div>
              }
            </p>
          </div>
          }
        </div>
      </div>
    }
    <div class="main-bar w-full h-full rounded-lg">
      @if (threeFirstAnuncios) {
        <div class="flex gap-5 bg-gray-200 p-4 rounded-lg">
          @for (anuncio of threeFirstAnuncios; track $index) {
            <div class="p-3.5 bg-white">
              <img src="{{ anuncio.url_foto }}" alt="{{ 'FEATURES.HOME.PAGES.HOME.MAIN-BAR.IMAGE.ALT'|transloco}} {{ anuncio.titulo }}" width="210" height="155">
              <a href="">{{ anuncio.titulo }}</a>
              <p>{{ anuncio.cidade }}</p>
            </div>
          }
        </div>
      }
    </div>
  </section>
</main>
