<main class="bg-gray-100 pb-10">
  <p-toast></p-toast>
  <app-search-bar></app-search-bar>
  <section class="mx-auto lg:max-w-5xl">
    <div class="flex flex-col items-center">
      <h3>
        <strong>{{ "FEATURES.AUTH.PAGES.LOGIN.TITLE" | transloco }}</strong>
      </h3>
      <p>
        {{ "FEATURES.AUTH.PAGES.LOGIN.SUB-TITLE-FIRST" | transloco }}
        <a [routerLink]="['/register']" class="text-blue-500">
          {{ "FEATURES.AUTH.PAGES.LOGIN.SUB-TITLE-SECOND" | transloco }}
        </a>
        {{ "FEATURES.AUTH.PAGES.LOGIN.SUB-TITLE-THIRD" | transloco }}
      </p>
    </div>
    <div
      class="main-form bg-white flex flex-col lg:w-1/2 mx-auto mt-7 rounded-xl py-14 px-10 gap-5"
    >
      <span class="text-2xl">{{
        "FEATURES.AUTH.PAGES.LOGIN.MAIN-FORM.TITLE" | transloco
      }}</span>
      <div class="form flex flex-col gap-2">
        <span class="font-bold">{{
          "FEATURES.AUTH.PAGES.LOGIN.MAIN-FORM.USERNAME-TITLE" | transloco
        }}</span>
        <input
          pInputText
          name="username"
          [(ngModel)]="formUsername"
          (keyup.enter)="enterLogin()"
        />
      </div>
      <div class="form flex flex-col gap-2">
        <span class="font-bold">{{
          "FEATURES.AUTH.PAGES.LOGIN.MAIN-FORM.PASSWORD-LABEL" | transloco
        }}</span>
        <p-password
          [(ngModel)]="formPassword"
          styleClass="p-password-full-width"
          [feedback]="false"
          (keyup.enter)="enterLogin()"
        >
        </p-password>
      </div>
      <div class="flex justify-center">
        <p-button
          [label]="'FEATURES.AUTH.PAGES.LOGIN.MAIN-FORM.BUTTON-LABEL' | transloco"
          severity="info"
          [loading]="loading"
          [disabled]="!isValidForm()"
          (click)="login()"
        />
      </div>
    </div>
  </section>
</main>
